---
import Layout from '../layouts/Layout.astro';
import Ingredients from '../sections/Ingredients.astro';
import Meta from '../sections/Meta.astro';
import Notes from '../sections/Notes.astro';
import Instructions from '../sections/Instructions.astro';
---

<Layout
	title="Soft Sourdough Dinner Rolls Recipe."
	classes="container py-8 flex flex-row-reverse gap-x-2">
	<main>
		<h1 class="text-3xl font-bold">Soft Sourdough Dinner Rolls Recipe</h1>
		<p class="subheadline">
			Soft sourdough dinner rolls are everything you ever dreamed of! These
			amazing, pull-apart dinner rolls are fluffy, buttery, and so easy to make.
		</p>
		<Meta />
		<Instructions />
		<Notes />
	</main>
	<aside>
		<div class="equipment">
			<h2>Equipment</h2>
			<p>9" x 13" glass baking dish</p>
		</div>
		<Ingredients />
	</aside>
</Layout>
