<section class="ingredients">
	<h2 class="font-bold text-xl">
		INGREDIENTS TO MAKE 100 G OF ACTIVE SOURDOUGH STARTER
	</h2>
	<ul class="ingredients-list">
		<li class="ingredients-list__item">15g sourdough starter</li>
		<li class="ingredients-list__item">50g all-purpose flour</li>
		<li class="ingredients-list__item">50g water</li>
	</ul>
	<h2 class="font-bold text-xl">Dough Ingredients</h2>
	<ul class="dough-ingredients-list">
		<li class="dough-ingredients-list__item">28g butter</li>
		<li class="dough-ingredients-list__item">240g milk</li>
		<li class="dough-ingredients-list__item">44g sugar</li>
		<li class="dough-ingredients-list__item">5g salt</li>
		<li class="dough-ingredients-list__item">100g active sourdough starter</li>
		<li class="dough-ingredients-list__item">375g bread flour</li>
		<li class="dough-ingredients-list__item">
			1 tablespoon melted butter (for brushing the top of the rolls after
			baking)
		</li>
	</ul>
</section>
