<section class="instructions">
	<h2 class="font-bold text-xl">Instructions</h2>
	<ol class="instructions">
		<li class="instructions__item">
			<b>8 PM Feed starter:</b> 12 hours before you plan to mix the dough, add
			the ingredients to make ½ cup (100 g) of active sourdough starter to a
			clean jar. Stir until combined, loosely cover the jar and let the starter
			rise at room temperature. (The ingredients will create a total of 115 g
			active starter but, because some of it will stick to the sides of the jar
			during the transfer, we are making a little more than needed.) The
			sourdough starter is ready to use when it has doubled in size and there
			are plenty of bubbles on the surface and sides of the jar.
		</li>
		<li class="instructions__item">
			<b>MAKE THE DOUGH 7:30 AM</b> Melt butter: In a small saucepan, melt the
			butter, milk, sugar and salt together over low heat. Pour the mixture into
			a mixing bowl and allow it to cool down to room temperature.
		</li>
		<li class="instructions__item">
			<b>8 AM</b> Mix dough: Add the sourdough starter and egg to the mixing
			bowl and whisk until combined. Add the flour and mix with a wooden spoon
			until a shaggy dough forms. Cover the bowl with a tea towel and let rest
			for 30 minutes.
		</li>
		<li class="instructions__item">
			<b>9 AM First rise:</b> Perform 3 sets of stretch and folds spaced 30
			minutes apart, keeping the bowl covered between sets. To perform a set,
			pick up the dough on one side and stretch it up and over itself. Turn the
			bowl a quarter turn and repeat this step until you have turned the bowl a
			full circle. After the final set, cover and allow the dough to rise for 2
			hours or until it has risen by 50% in size. (See notes.)
		</li>
		<li class="instructions__item">
			<b>12 PM Shape and Second rise:</b> Turn the dough out onto a floured
			surface and divide it into 12 pieces, approximately 65 grams each. Shape
			each piece into a ball by gathering up the sides and pinching them
			together. Turn the dough over so that the seam side is down on the work
			surface and gently form a smooth ball. Arrange them in a lightly greased
			glass baking dish. Cover the dish with a tea towel and let rise for 3-4
			hours.
		</li>
		<li class="instructions__item">
			<b>4 PM Bake:</b> About 20 minutes before you are ready to bake preheat
			your oven to 375°F (190°C). Bake for 25-30 minutes or until they are
			golden brown on top. The internal temperature of the rolls should be 190°F
			when fully baked. Brush the top of the roll with melted butter and serve.
		</li>
	</ol>
</section>
