<aside class="meta flex my-5 justify-evenly">
	<div class="meta__prep-time flex flex-col">
		<h2>Prep Time</h2>
		<span class="meta__prep-time--time">15 minutes</span>
	</div>
	<div class="meta__cook-time flex flex-col">
		<h2>Cook Time</h2>
		<span class="meta__cook-time--time"> 30 minutes</span>
	</div>
	<div class="meta__rest-time flex flex-col">
		<h2>Resting Time</h2>
		<span class="meta__rest-time--time"> 8 Hours</span>
	</div>
	<div class="meta__servings flex flex-col">
		<h2>Servings</h2>
		<span class="meta__servings--serving">12</span> rolls
	</div>
	<div class="meta__author">Author: Amy Duska</div>
	<a
		href="https://littlespoonfarm.com/soft-sourdough-dinner-rolls-recipe/"
		class="meta__original-recipe">Original Recipe Link</a
	>
</aside>
