<section class="notes">
	<h2 class="font-bold text-xl">NOTES</h2>
	<ul>
		<li>
			It's very important to take the ambient temperature of your kitchen into
			account when working with sourdough. Our recipes are tested in a kitchen
			that is 68°F (20°C). If your kitchen is warmer, you will need to reduce
			your rising time in the first and second rise to avoid over-proving the
			dough.
		</li>
		<li>
			If you'd like to prepare the dough and bake the rolls at a later time,
			after shaping the rolls in step 4, cover the dish with plastic wrap and
			store in the fridge for up to 36 hours. When ready to bake, allow them to
			have the second rise at room temperature until puffy and proceed with
			baking.
		</li>
		<li>
			If using a tin baking sheet bake rolls at 400°F. Rolls can also be baked
			in a muffin tin for 23-25 minutes.
		</li>
	</ul>
</section>
